*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

/asynccallback
/banner
/common
/common-ui
/nestedscroll
/plugin-frame
/plugin-sdk
/tabfragment
